<ion-header [translucent]="true" >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="home-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MyRadio.FM
    </ion-title>

  </ion-toolbar>
  <ion-toolbar mode="ios" color="secondary">
    <ion-segment value="FAVORITES" mode="ios" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="FAVORITES">
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="EXPLORE">
        <ion-label>Explorar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content id="home-content" color="primary" *ngIf="activeTab === 'FAVORITES'">
  <ion-list>
    <div *ngIf="favoriteStations.length === 0" class="no-list-message">
      Las listas de reproducción que marques se mostrarána aquí
    </div>

    <app-station-item *ngFor="let station of favoriteStations" [station]="station" [adminStation]="false"></app-station-item>
  </ion-list>
</ion-content>

<ion-content id="home-content" color="primary" *ngIf="activeTab === 'EXPLORE'">
  <ion-item color="primary">
      <ion-icon name="filter" slot="end"></ion-icon>
      <ion-select slot="end" class="ion-no-margin" [(ngModel)]="orderBy" (ionChange)="setOrderBy()">
        <ion-select-option [value]="stationOrderBy.Likes">Likes</ion-select-option>
        <ion-select-option [value]="stationOrderBy.Recent">Recientes</ion-select-option>
        <ion-select-option [value]="stationOrderBy.Views">Vistas</ion-select-option>
      </ion-select>
  </ion-item>
  <app-skeleton *ngIf="!stations"></app-skeleton>
  <app-station-item *ngFor="let station of stations" [station]="station" [adminStation]="false"></app-station-item>
</ion-content>
