ion-range {
  flex: 1;
  --bar-background: #fff;
  --bar-background-active: var(--ion-color-tertiary);
  --knob-background: var(--ion-color-tertiary);
  padding: 0;
}

.cont {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: -16px;

  .cont-music-info {
    background-color: var(--ion-color-secondary);
    z-index: 2;
    padding: 0.5rem;
  }

  .cont-range {
    margin-bottom: -20px;
  }
}

ion-label {
  margin: 0;
}

.duration {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
