<ion-card>
  <ion-item color="primary" lines="none">
    <ion-thumbnail slot="start" (click)="goStation(station.id)">
      <img [src]="this.station.image.compress || '../../../assets/img/no-image.png'">
    </ion-thumbnail>
    <ion-label>
      <span (click)="goStation(station.id)">
        {{station?.name}}
      </span>
      <br/>
      <h4 class="cont-author" (click)="goUser(station.author.id)">
        <ion-icon name="person"></ion-icon>
        {{station?.author.userName}}
      </h4>
    </ion-label>
    <ion-button 
      fill="clear" 
      [color]="isFavoriteStation? 'tertiary': 'medium'"
      *ngIf="showFavoriteOption"
      (click)="addToFavorites()"
    >
      <ion-icon name="bookmark" slot="icon-only"></ion-icon>
    </ion-button>
    
  </ion-item>

  <ion-row>
    <ion-col class="ion-no-padding" size="4">
      <span>
        <ion-button fill="clear" [color]="reaction === reactionEnum.Like? 'light': 'medium'" (click)="setReaction(reactionEnum.Like)">
          <ion-icon name="thumbs-up" slot="start"></ion-icon>
          <div>{{station.reactions.numLikes}}</div>
        </ion-button>
        <ion-button fill="clear" [color]="reaction === reactionEnum.Dislike? 'light': 'medium'" (click)="setReaction(reactionEnum.Dislike)">
          <ion-icon name="thumbs-down" slot="start"></ion-icon>
          <div>{{station.reactions.numDislikes}}</div>
        </ion-button>
        <div class="percentage">
          <div [style]="'width:'+percentageReaction+'%'"></div>
        </div>
      </span>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-button fill="clear" color="medium">
        <ion-icon name="headset" slot="start"></ion-icon>
        <div>{{station.views}} reproducciones</div>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding" size="2">
      <ion-button fill="clear" color="tertiary" (click)="share()">
        <ion-icon name="share-social" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card-content>
    <span>
      {{station?.description}}
    </span>
    <div>
      <span *ngFor="let tag of station?.tags">
        #{{tag}}
      </span>
    </div>
  </ion-card-content>

  <ion-row *ngIf="!playing && adminStation">
    <ion-col
      class="ion-no-padding"
      size="3"
    >
      <ion-button fill="clear" color="medium" (click)="edit()">
        <ion-icon name="pencil" slot="start"></ion-icon>
        <div>Editar</div>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-button fill="clear" color="medium" (click)="delete()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <div>Eliminar</div>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-item *ngIf="playing" color="primary" class="playing-info">
    <div>
      Reproduciendo
      <br>
      <ion-label color="tertiary" class="music-info">
        {{musicPlaying?.title}}
        <h4>
          {{' - ' + musicPlaying?.artist}}
        </h4>
      </ion-label>
    </div>

    <ion-icon name="download" slot="end" color="tertiary"></ion-icon>
  </ion-item>
</ion-card>
