<ion-header *ngIf="continueWithPhone">
  <ion-toolbar color="secondary">
    <ion-button (click)="continueWithPhone = false" color="secondary">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content 
  class="ion-padding" 
  *ngIf="continueWithPhone"
  color="primary"  
>
   <firebase-ui [language] = "'es'" (signInSuccessWithAuthResult)="checkUserState($event)"></firebase-ui>
</ion-content>

<ion-content
  fullscreen
  class="ion-padding mx"
  color="primary"
  *ngIf="!continueWithPhone"
>

  <div class="fondo">
    <div></div>
  </div>

  <div class="text-animation">
    <div class="js-animation">
      <h1>Crea tus propias playlist o eschucha la de otros</h1>
      <h1 class="d-none">Escucha música sin límites y gratis</h1>
      <h1 class="d-none">Descarga listas de reproducciones</h1>
      <h1 class="d-none">Descubre a nuevos artistas y canciones</h1>
    </div>
  </div>

  <ion-button shape="round" color="tertiary" expand="full" class="continue-btn" (click)="skipRegister()">
    Continuar sin registrarme
  </ion-button>

  <span class="d-center" (click)="continueWithPhone = true">
    <h6 class="loc__num-btn">Continuar con número de teléfono</h6>
  </span>

  <span class="d-center">
    <small>
      Al continuar aceptas nuestra
      <a href="https://docs.google.com/document/d/1W8PzfDPGVovdenuG0Y3wHgYnZv9oe3sYXT-p40wRi_o/edit?usp=sharing">
        Política de privacidad
      </a> y
      <a href="https://docs.google.com/document/d/14wljYiTpPHRRVyeVespaKHjttklMdWlgbcT0Gr6La3c/edit?usp=sharing">
        Condiciones de uso
      </a>
    </small>
  </span>

</ion-content>
