<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button
      slot="start"
      [defaultHref]="'radio/'+Routes.Profile"
      text=""
      mode="md"
    ></ion-back-button>
    <ion-title slot="start" class="ion-no-padding">{{station? 'Editar': 'Crear'}} estación</ion-title>
    <ion-button slot="end" mode="md" color="success" class="mr-15" (click)="createStation()">
      {{station? 'Editar': 'Crear'}}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" color="primary">
  <form [formGroup]="stationForm">
    <ion-label>
      Imágen de la lista
    </ion-label>
    <div class="cont-image">
      <img [src]="imageStation" alt="">
      <ion-button color="medium" (click)="presentImageActionSheet()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <ion-item color="primary">
      <ion-input formControlName="name" type="text" maxlength="40" placeholder="Nombre de la lista"></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-textarea
        placeholder="Describe tu lista de reproducción"
        maxlength="450"
        rows="5"
        formControlName="description"
      ></ion-textarea>
    </ion-item>
  </form>

  <span class="cont-delete-all-btn">
    <ion-button
      color="warning"
      fill="outline"
      slot="end"
      size="small"
      class="ion-float-right mr-15"
    >Eliminar todo</ion-button>
  </span>

  <ion-button color="primary" expand="full" class="add-music-btn" (click)="openModal()">
    <ion-label>Agregar canción</ion-label>
    <ion-icon name="add" slot="end"></ion-icon>
  </ion-button>

  <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
    <ion-item color="primary" *ngFor="let music of musicArr; let i = index">
      <ion-card color="primary">
        <ion-card-content class="ion-no-padding">
          <div>
            <ion-label>
              {{music.title}}
            </ion-label>
          </div>
          <div>
            <ion-label>
              {{music.artist}}
            </ion-label>
          </div>
          <div class="cont-music-file" color="tertiary">
            <app-audio [audioData]="music.localData"></app-audio>
          </div>
        </ion-card-content>
        <ion-row>
          <ion-col class="ion-no-padding" size="6">
            <ion-button fill="clear" color="medium" (click)="openModal(music, i)">
              <ion-icon name="pencil" slot="start"></ion-icon>
              <div>Editar</div>
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-button fill="clear" color="medium" (click)="deleteMusic(i)">
              <ion-icon name="trash" slot="start"></ion-icon>
              <div>Eliminar</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>

</ion-content>


