<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button
      slot="start"
      [defaultHref]="'radio/'+Routes.Profile"
      text=""
      mode="md"
    ></ion-back-button>
    <ion-title slot="start" class="ion-no-padding">{{playlist? 'Editar': 'Crear'}} lista</ion-title>
    <ion-button 
      slot="end" 
      mode="md" 
      color="tertiary" 
      class="mr-15" 
      (click)="confirmCreateOrEdit()"
    >
      {{playlist? 'Editar': 'Crear'}}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" color="primary">
  <form [formGroup]="stationForm">
    <ion-label>
      Imágen de la lista
    </ion-label>
    <div class="cont-image">
      <img [src]="imageStation" alt="">
      <ion-button color="medium" (click)="presentImageActionSheet()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <ion-item color="primary">
      <ion-button 
        color="medium" 
        slot="start" 
        id="open-custom-dialog"
        [disabled]="(musicArr.length > 0 || disabledSelectType)"  
      >
        <ion-icon 
          [name]="playlistType === playlistTypeEnum.PUBLIC? 'earth': 'lock-closed'" 
          slot="start"
        ></ion-icon>
        <ion-label>
          {{playlistType === playlistTypeEnum.PUBLIC? 'Pública': 'Privada'}}
        </ion-label>
      </ion-button>
    </ion-item>

    <ion-item color="primary">
      <ion-label position="stacked">Nombre de la lista</ion-label>
      <ion-input 
        formControlName="name" 
        type="text" 
        maxlength="40"
        minlength="5"
        [autocapitalize]="true"
        placeholder="Escribe aquí"
      ></ion-input>
    </ion-item>

    <ion-item color="primary" class="loc__item-mb">
      <ion-label position="stacked">Describe tu lista de reproducción</ion-label>
      <ion-textarea
        maxlength="200"
        minlength="5"
        rows="3"
        formControlName="description"
        [autocapitalize]="true"
        placeholder="Escribe aquí"
      ></ion-textarea>
    </ion-item>

    <ion-item color="primary">
      <ion-input 
        type="text" 
        maxlength="40"
        #tagInput
        [value]="this.playlist?.tags || ''"
        class="loc__tags-input"
        placeholder="Agregar etiqueta"
      ></ion-input>
    </ion-item>
  </form>

  <section color="primary" class="ion-padding loc__btns">
    <ion-button 
      color="tertiary" 
      slot="start" 
      (click)="playlistType === playlistTypeEnum.PUBLIC? openModal(): selectMusicsModal()"
    >
      <ion-label>{{playlistType === playlistTypeEnum.PUBLIC? 'Agregar canción': 'Agregar canciones'}}</ion-label>
    </ion-button>
  
    <ion-button
      color="medium"
      slot="end"
      (click)="confirmDelete()"
    >
      Eliminar todo
    </ion-button>
  </section>

  <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
    <ion-item color="primary" *ngFor="let music of musicArr; let i = index; trackBy: trackByFn">
      <ion-card color="primary">
        <ion-card-content class="ion-no-padding">
          <div>
            <ion-label>
              {{music.title}}
            </ion-label>
          </div>
          <div>
            <ion-label>
              {{music.artist}}
            </ion-label>
          </div>
          <div class="cont-music-file" color="tertiary">
            <app-audio [audioData]="music.localPath"></app-audio>
          </div>
        </ion-card-content>
        <ion-row>
          <ion-col class="ion-no-padding" size="6">
            <ion-button fill="clear" color="medium" (click)="openModal(music, i)">
              <ion-icon name="pencil" slot="start"></ion-icon>
              <div>Editar</div>
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-button fill="clear" color="medium" (click)="deleteMusic(i)">
              <ion-icon name="trash" slot="start"></ion-icon>
              <div>Eliminar</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>

</ion-content>

<ion-modal 
  id="type-modal" 
  #playlistTypeModal 
  trigger="open-custom-dialog" 
>
  <ng-template class="" id="loc__modal-container">
    <div>
      <ul>
        <p>
          Pública
        </p>
        <li>Cualquier usuario puede reproducir esta lista.</li>
        <li>Las canciones se almacenan en Musicalia.</li>
        <p>
          Privada
        </p>
        <li>Solo se puede reproducir en tu dispositivo.</li>
        <li>Puedes agregar canciones sin especificar el nombre.</li>
      </ul>
    </div>

    <div class="loc__cont-btns">
      <ion-button color="tertiary" (click)="changePlaylistType(playlistTypeEnum.PUBLIC)">
        <ion-icon slot="start" name="earth"></ion-icon>
        <ion-label>Pública</ion-label>
      </ion-button>
      <ion-button color="tertiary" (click)="changePlaylistType(playlistTypeEnum.PRIVATE)">
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-label>Privada</ion-label>
      </ion-button>
    </div>
  </ng-template>
</ion-modal>
