.cont-delete-all-btn {
  display: flex;
  justify-content: flex-end;
}

ion-textarea {
  height: 5rem;
}

ion-card {
  box-shadow: none;
  margin: 7px 0;
  width: 100%;
}

.cont-music-file {
  border-radius: 5px;
  margin: 5px 0;
  padding: 0.3rem;
  border: 1px solid rgba(101, 109, 119, .16);
  border-left: 0.25rem solid var(--ion-color-tertiary);
  box-shadow: #242f3e0a 0 2px 4px 0;
}

ion-reorder-group>ion-item {
  border-bottom: solid 1px var(--ion-color-medium);
}

.mr-15 {
  margin-right: 15px;
}

form {
  padding-top: 0.5rem;

  >ion-label {
    margin-left: 1rem;
  }

  ion-item.item-has-value ion-label {
    color: var(--ion-color-success) !important;
  }
}

.cont-image {
  padding: 0.5rem 0 0 1rem;
  overflow: visible;

  img {
    width: 5rem;
    height: 5rem;
  }

  ion-button {
    margin: 3.3rem 0 0rem -1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px; 
  }
}

.loc__btns {
  display: flex;
  justify-content: space-between;
}

.loc__item-mb {
  margin-bottom: 10px;
}