/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import '~firebaseui/dist/firebaseui.css';

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@yaireo/tagify/src/tagify.scss";

.tagify__dropdown__wrapper{
  background-color: var(--ion-color-primary) !important;
}

.tagify__dropdown__item:hover {
  background-color: var(--ion-color-tertiary) !important;
}

.fondo{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--fondo-color);
  div{
    background-repeat: repeat;
    background-size: cover;
    background-image: url('./assets/img/fondo.jpg');
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.07;
  }
}

.g-d-contents {
  display: contents;
}

.no-list-message {
  flex: 1;
  height: 100%;
  text-align: center;
  padding-top: 4rem;

  img {
    display: block;
    margin: 0 auto 10px auto;
  }
}

.tagify--noTags .tagify__input::before {
  color: #fff !important;
}

.tagify__input:empty::before {
	opacity: 1 !important;
	color: #fff !important;
}

.loc__tags-input {
	.tagify__input {
		margin-left: 0;
		padding-left: 0;
	}

  .tagify__tag {
    margin: 5px 5px 5px 0;
  }
}

.loc__input-label .ng-placeholder {
	color: gray;
}

/*****************************************************
	Custom styling example bellow.
*****************************************************/

.iti {
	display: block !important;
	margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 44px;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
  background-color: var(--white);
	border-radius: 4px;
	font-size: 18px;
  width: 100%;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
  width: 100%;
  background-color: var(--white);
}

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}