/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import '~firebaseui/dist/firebaseui.css';

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.fondo{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--fondo-color);
  div{
    background-repeat: repeat;
    background-size: cover;
    background-image: url('./assets/img/fondo.jpg');
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.07;
  }
}

.g-d-contents {
  display: contents;
}

.no-list-message {
  flex: 1;
  height: 100%;
  text-align: center;
  padding-top: 4rem;
}
