<div 
  [class]="(this.trackId === this.track.id)? 'loc__selected': ''"  
>
  <ion-item color="primary" class="ion-no-margin" lines="none">
    <ion-label class="loc__title ">
      {{track.title}}
    </ion-label>
    <ion-icon
      [name]="(musicPlayingId !== track.id || musicState === musicStateEnum.Pause)? 'play': 'pause'"
      slot="end"
      color="tertiary"
      class=""
      (click)="(musicPlayingId === track.id && musicState === musicStateEnum.Playing)? pause(): play(track)"
    ></ion-icon>
  </ion-item>

  <ion-item 
    color="primary" 
    #trackItem 
    class="ion-no-margin"
  >
    <ion-label color="tertiary" class="music-info ion-no-margin">
      {{track.artist}}
    </ion-label>

    <ion-label color="medium" slot="end" class="music-info ion-no-margin">
      {{track.duration * 1000 | date:'mm:ss':'UTC' || '0:00'}}
    </ion-label>

    <div class="loader loader--style4" title="3" slot="end">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 50 50;" xml:space="preserve"
      >
        <rect x="0" y="0" width="4" height="7" fill="#333">
          <animateTransform
            attributeType="xml"
            attributeName="transform" type="scale"
            values="1,1; 1,3; 1,1"
            begin="0s" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="10" y="0" width="4" height="7" fill="#333">
          <animateTransform
            attributeType="xml"
            attributeName="transform" type="scale"
            values="1,1; 1,3; 1,1"
            begin="0.2s" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="20" y="0" width="4" height="7" fill="#333">
          <animateTransform
            attributeType="xml"
            attributeName="transform" type="scale"
            values="1,1; 1,3; 1,1"
            begin="0.4s" dur="0.6s" repeatCount="indefinite" />
        </rect>
      </svg>
    </div>
  </ion-item>

  <ion-badge color="danger" *ngIf="track.local.isNew">Nueva</ion-badge>
</div>