<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button
      slot="start"
      [defaultHref]="'radio/'"
      text=""
      mode="md"
    ></ion-back-button>
    <ion-title slot="start" class="ion-no-padding">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" color="primary">
  <div class="loc__phone" *ngIf="!connectedAccount">
    <form [formGroup]="form">
      <h5>
        Conectar cuenta
      </h5>
      <h6>Ingresa tu número de teléfono</h6>
      <input type="tel" #telInput/>
      <ion-row>
        <ion-button (click)="verifyPhone()" color="tertiary">
          Verificar
        </ion-button>
      </ion-row>
      <div id="recaptcha-container"></div>
      <ion-row>
        <small>
          Al tocar Verificar, podría enviarse un SMS. Es posible que se apliquen cargos de mensajería y uso de datos.
        </small>
      </ion-row>
    </form>
  </div>
</ion-content>