<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button
      slot="start"
      [defaultHref]="'radio/'"
      text=""
      mode="md"
    ></ion-back-button>
    <ion-title slot="start" class="ion-no-padding">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" color="primary">

  <ion-item 
    color="primary" 
    lines 
    *ngFor="let notification of notifications"
    [routerLink]="notification?.data?.musicListId? '/radio/station/' + notification.data?.musicListId: ''"
    detail
  >
    <ion-thumbnail slot="start">
      <img [src]="stationImages[notification.id] || '../../../../assets/img/no-image.png'">
    </ion-thumbnail>
    <ion-label>
      <span>
        {{notification.title}}
      </span>
      <br/>
      <h4>
        {{notification.body}}
      </h4>
      <h6>
        {{notification.timestamp.toDate() | date: 'short'}}
      </h6>
    </ion-label>
  </ion-item>

</ion-content>